---
import SectionTitle from '@/components/SectionTitle.astro'
import CardPost from '@/components/projects/CardPost.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection('projects')
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title={t('drewdomi.projects')} desc={t('drewdomi.projects')}>
  <SectionTitle title={t('drewdomi.projects')} />
  <div class="grid mt-2 grid-cols-1 sm:grid-cols-2 gap-[40px]">
    {
      posts.map((post) => (
        <CardPost
          href={`projects/${post.slug}`}
          cover={post.data.cover}
          altCover={post.data.altCover}
          title={post.data.title}
          desc={post.data.desc}
        />
      ))
    }
  </div>
</Layout>
