---
import '@fontsource/roboto/latin-300.css'
import '@fontsource/roboto/latin-400.css'
import '@fontsource/rubik/latin-400.css'
import '@fontsource/rubik/latin-500.css'
import { ViewTransitions } from 'astro:transitions'

import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'

import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface Props {
  title: string
  desc: string
}

const { title, desc } = Astro.props
---

<!doctype html>
<!--

в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•— в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•— в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•—в–Ҳв–Ҳв•—    в–Ҳв–Ҳв•—  в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•—  в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•— в–Ҳв–Ҳв–Ҳв•—   в–Ҳв–Ҳв–Ҳв•—в–Ҳв–Ҳв•—
в–Ҳв–Ҳв•”в•җв•җв–Ҳв–Ҳв•—в–Ҳв–Ҳв•”в•җв•җв–Ҳв–Ҳв•—в–Ҳв–Ҳв•”в•җв•җв•җв•җв•қв–Ҳв–Ҳв•‘    в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•”в•җв•җв–Ҳв–Ҳв•—в–Ҳв–Ҳв•”в•җв•җв•җв–Ҳв–Ҳв•—в–Ҳв–Ҳв–Ҳв–Ҳв•— в–Ҳв–Ҳв–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘
в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•”в•қв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•—  в–Ҳв–Ҳв•‘ в–Ҳв•— в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘   в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•”в–Ҳв–Ҳв–Ҳв–Ҳв•”в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘
в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•”в•җв•җв–Ҳв–Ҳв•—в–Ҳв–Ҳв•”в•җв•җв•қ  в–Ҳв–Ҳв•‘в–Ҳв–Ҳв–Ҳв•—в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘   в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘в•ҡв–Ҳв–Ҳв•”в•қв–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘
в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•”в•қв–Ҳв–Ҳв•‘  в–Ҳв–Ҳв•‘в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•—в•ҡв–Ҳв–Ҳв–Ҳв•”в–Ҳв–Ҳв–Ҳв•”в•қ  в–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•”в•қв•ҡв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв–Ҳв•”в•қв–Ҳв–Ҳв•‘ в•ҡв•җв•қ в–Ҳв–Ҳв•‘в–Ҳв–Ҳв•‘
в•ҡв•җв•җв•җв•җв•җв•қ в•ҡв•җв•қ  в•ҡв•җв•қв•ҡв•җв•җв•җв•җв•җв•җв•қ в•ҡв•җв•җв•қв•ҡв•җв•җв•қ   в•ҡв•җв•җв•җв•җв•җв•қ  в•ҡв•җв•җв•җв•җв•җв•қ в•ҡв•җв•қ     в•ҡв•җв•қв•ҡв•җв•қ

-->
<html {lang}>
  <head>
    <!-- Primary Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="description" content={desc} />
    <meta name="author" content="Andrew Domingues" />
    <meta name="author" content="drewdomi" />
    <meta name="generator" content={Astro.generator} />
    <meta name="copyright" content="В© 2024 Andrew Domingues" />
    <meta http-equiv="content-language" content={lang} />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content={t('site.keywords')} />
    <meta name="rating" content="general" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" sizes="192x192" href="/android-chrome.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="theme-color" content="#005AAD" />

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content="Andrew Domingues" />
    <meta name="og:title" content="Andrew Domingues" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.drewdomi.com/card.png" />
    <meta property="og:url" content="https://www.drewdomi.com" />
    <meta property="og:description" content={desc} />

    <!-- Twitter -->
    <meta name="twitter:title" content="Andrew Domingues" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@drewdomii" />
    <meta name="twitter:creator" content="@drewdomii" />
    <meta name="twitter:image" content="https://www.drewdomi.com/card.png" />

    <ViewTransitions />
    <title>{title}</title>
    <style is:global>
      * {
        font-family: 'Roboto';
        scroll-behavior: smooth;
      }
      @keyframes downtop {
        0% {
          opacity: 0;
          transform: translateY(15px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      main {
        animation: downtop 0.7s 0.35s backwards;
      }
      a {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <Header />
    <main class="max-w-[678px] mx-auto mt-20 px-5 min-h-[100vh] mb-10">
      <slot />
    </main>
    <Footer />
    <script async data-id="101458763" src="//static.getclicky.com/js"></script>
  </body>
</html>
